<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-primary': loveIts === 0,
  'list-group-item-success': loveIts > 0,
  'list-group-item-danger': loveIts < 0
 }">
  <h4>{{ title }} <time *ngIf="created_at" class="font-italic">{{ created_at | date }}</time></h4>
  <p>{{ content }}</p>

  <div class="btn-group">
    <button class="btn btn-success" (click)="loveIt()">Love it</button>
    <button class="btn btn-danger" (click)="hateIt()">Hate it</button>
  </div>
</li>
