<p>{{ introduction }}</p>
<ul class="list-group">
<app-post-list-item *ngFor="let item of items"
  [title]="item.title"
  [content]="item.content"
  [created_at]="item.date"
  [loveIts]="item.likes"
></app-post-list-item>
</ul>
